@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baumans:wght@400&display=swap');

.site-branding {
  font-family: Baumans, 'IBM Plex Sans', 'Trebuchet MS', Helvetica, sans-serif;
}

body {
  font-family: 'IBM Plex Sans', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: large;
}

h1, h2, h3 {
  font-family: 'Baumans', 'IBM Plex Sans', 'Trebuchet MS', Helvetica, sans-serif;
}

pre, code {
  font-family: 'Fira Mono', monospace;
}
