@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: 'IBM Plex Sans', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: large;
}

h1, h2, h3 {
  font-family: 'Noto Sans JP', 'Trebuchet MS', Helvetica, sans-serif;
}

pre, code {
  font-family: 'Fira Code', monospace;
}
