<div class="popout">
<form
  action="https://buttondown.email/api/emails/embed-subscribe/thomasadventure"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/thomasadventure', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Sign up to my newsletter to get my latest R blog posts and other R goodies directly to your inbox</label>
  <input type="email" name="email" id="bd-email" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
</form>
</div>
